:root {

}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

/* .showcase_a {
    background-color: #7f6f62;
    background-image: url(../imgs/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    

    padding-top: 200px;
    padding-bottom: 900px;
}
 */



.full-width-image {
    width: 100%;
    height: auto;
}

.bg-image-drum {
    background-image: url(../imgs/drums.jpg);
    background-repeat: no-repeat;
   
    background-size: 30%;
    background-position: center right;

}

.bg-image-mic {
    background-image: url(../imgs/4.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center top;
    
    
}

/* .bg-image {
    background-image: url(../imgs/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} */